header {
  height: 90px;
  padding: 0 30px;
}

#headerTitles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 30px;
  padding: 0px 30px;
  font-family: "pointsFont";
}
#headerCounters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  height: 60px;
}
#livesCounter {
  position: relative;
  display: inline;
  box-shadow: 4px 4px 4px midnightblue;
  filter: brightness(1.5);
  margin-top: -3px;
}
#livesContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  height: 40px;
  margin-top: 3.5px;
  padding: 0px 15px;
}
#livesContainer > img {
  transform: scale(1, 0.3) rotate(-90deg);
  filter: brightness(1.3) contrast(110%);
  margin: 0px -22px;
}
#pointsCounter {
  position: relative;
  display: inline;
  color: white;
  text-shadow: -1.5px 1px rgb(92, 193, 218);
  font-family: "pointsFont";
  font-size: 40px;
  text-align: center;
  line-height: 49px;
  filter: brightness(1.5);
  margin-top: -3px;
}

.headerInfoBoxes {
  height: 46px;
  width: 270px;
  margin: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  border: 2px solid rgb(97, 74, 160);
  border-radius: 10px;
  box-shadow: -4px 4px 4px midnightblue;
}
.headerInfoBoxes::before {
  position: absolute;
  background-image: url("../assets/images/textures/grey.png");
  content: "";
  display: inline-block;
  top: 0; left: 0; width: 100%; height: 100%;
  filter: brightness(0.2);
  opacity: 0.4;
  border-radius: 10px;
}