body {
  padding: 0;
  margin: 0 auto;
}

#game {
  background: url("../assets/images/background/blue_milky_way_galaxy.jpg");
  background-size: 100% 108%;
  background-repeat: no-repeat;
  position: relative;
}
#player {
  position: absolute;
}
