body {
  padding: 0;
  margin: 0 auto;
}
button {
  margin: 10px;
}
header {
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

#background {
  background: url("../assets/images/background/blue_milky_way_galaxy.jpg");
  background-size: 100% 108%;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 1500px;
  height: 970px;
}
#livesCounter {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  box-shadow: 4px 4px 4px midnightblue;
}
#livesCounter > img {
  transform: scale(0.9, 0.35) rotate(-90deg);
  filter: brightness(1.3) contrast(110%);
  margin: 0px -13px;
}
#pointsCounter {
  color: rgb(92, 193, 218);
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
#game {
  position: relative;
  overflow: hidden;
}
#player {
  position: absolute;
  filter: brightness(1.2) contrast(125%);
}

.headerInfoBoxes {
  display: flex;
  height: 46px;
  width: 270px;
  margin: 20px;
  background-color: rgba(0, 0, 0, 0.4);
  border: 2px solid rgb(97, 74, 160);
  border-radius: 10px;
  box-shadow: -4px 4px 4px midnightblue;
}
.enemy {
  position: absolute;
  transform: rotate(180deg);
  filter: brightness(1.2) contrast(107%);
}
.bullet {
  position: absolute;
  filter: brightness(1.5) contrast(110%);
  /*transition: width 5s ease-in 0s;*/
  /*width: 5px;*/
}
.explosion {
  position: absolute;
}
.bonusEnemy{
  position: absolute;
  display: inline-block;
  transform: rotate(90deg);
  filter: brightness(1.5) contrast(110%);
}
