body {
  padding: 0;
  margin: 0 auto;
}
button {
  margin: 10px;
}

#game {
  background: url("../assets/images/background/blue_milky_way_galaxy.jpg");
  background-size: 100% 108%;
  background-repeat: no-repeat;
  position: relative;
  margin-left: 10px;
}
#player {
  position: absolute;
  filter: brightness(1.2) contrast(125%);
}

.enemy {
  position: absolute;
  transform: rotate(180deg);
  filter: brightness(1.2) contrast(107%);
}
.bullet {
  position: absolute;
  filter: brightness(1.5) contrast(110%);
  /*transition: width 5s ease-in 0s;*/
  /*width: 5px;*/
}
.explosion {
  position: absolute;
}

.bonusEnemy{
  position: absolute;
  transform: rotate(90deg);
  filter: brightness(1.5) contrast(110%);
}
